<div class="container">
  <div class="row">
    <form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% flash.each do |key, value| %>
          <script> M.toast({html: "<%= value %>", classes: "rounded <%= key %>"});</script>
      <% end %>
      <div class="row">
        <div class="input-field col s12">
          <input class="validate" autocomplete="name" type="text"  name="user[name]" id="user_name" required>
          <label for="email">Full Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="validate" autocomplete="name" type="text"  name="user[nickname]" id="user_nickname" required>
          <label for="email">Nickname</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="validate" autocomplete="email" type="email" name="user[email]" id="user_email" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="validate" autocomplete="current-password" type="password" name="user[password]" id="user_password" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="validate" autocomplete="current-password" type="password" name="user[password_confirmation]" id="user_password_confirmation" required>
          <label for="password">Password Confirmation</label>
        </div>
      </div>
      
      <button class="btn waves-effect waves-light" type="submit" name="commit">Sign up
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>