<nav>
    <div class="nav-wrapper">
        <%= link_to('RForum', root_path, class: "brand-logo center") %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
                <% if current_user.admin?%>
                    <li class="navbar-item"><%= link_to('Admin', rails_admin_path, class: "has-text-white-ter") %></li>
                <% end %>
                <li><%= link_to('Logout', destroy_user_session_path, method: :delete, class: "has-text-white-ter") %></li>
            <% else %>
                <li><%= link_to("Login", new_user_session_path, class: "button is-medium is-outlined is-primary") %></li>
                <li><%= link_to("Sign Up", new_user_registration_path, class: "button is-medium is-outlined is-primary") %></li>
            <% end %>
        </ul>
    </div>
</nav>