<div class="container">
    <% flash.each do |key, value| %>
        <script> M.toast({html: "<%= value %>", classes: "rounded <%= key %>"});</script>
    <% end %>
    <div class="row">

      <div class="col s12 center-align">
        <h3>Welcome to DISCUSSION FORUM.</h3>
        <h5>Create an account or login to an existing one for enjoying the discussion forum developed in Ruby</h5>
        <br><br>
        <%= link_to("Login", new_user_session_path, class: "waves-effect waves-light btn-large") %>
        <%= link_to("Sign Up", new_user_registration_path, class: "waves-effect waves-light btn-large") %>
      </div>

    </div>
        
</div>

