<div class="container">
  <div class="row">
    <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% flash.each do |key, value| %>
          <script> M.toast({html: "<%= value %>", classes: "rounded <%= key %>"});</script>
      <% end %>
      <div class="row">
        <div class="input-field col s12">
          <input class="validate" autocomplete="email" type="email" name="user[email]" id="user_email" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="validate" autocomplete="current-password" type="password" name="user[password]" id="user_password" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="commit">Login
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>


