<div class="row">
    <div class="col s12">
        <%= form_for(@post) do |f| %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div class="input-field col s6">
                <%= text_field(:post, :title,:class => "validate", :required => true) %>
                <label for="first_name">Thread</label>
            </div>
            <div class="input-field col s6">
                <button class="btn waves-effect waves-light" type="submit" name="commit">Create
                    <i class="material-icons right">send</i>
                </button>
            </div>
        <% end %>
    </div>
  </div>