<div class="col s12 m7">
    <%= link_to post do%>
        <div class="card horizontal grey darken-3">
            <div class="card-stacked">
                <div class="card-content white-text">
                    <p><a><%= post.user.nickname.capitalize %> at <%= post.created_at.strftime("%m/%d/%y, %k:%M") %>:</a> <%= post.title %></p>
                </div>
                <div class="card-action">
                    <a> <%= post.comments.count %> Comments </a>
                    <%= link_to post do %>
                        <i class="material-icons">comment</i>
                    <% end %>
                    <% if post.user == current_user %>
                        <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="material-icons right" style="color: #d50000;">delete_forever</i>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    <%end%>
</div>