<div class="container threads">
    <% flash.each do |key, value| %>
        <script> M.toast({html: "<%= value %>", classes: "rounded <%= key %>"});</script>
    <% end %>
    <%= render 'posts/form', task: @post %>
    <%= render @posts %>
    <%= paginate @posts %>
</div>