<div class="container post_margim">
    <% flash.each do |key, value| %>
        <script> M.toast({html: "<%= value %>", classes: "rounded <%= key %>"});</script>
    <% end %>
    <div class="col s12 m7">
        <div class="card horizontal grey darken-3">
            <div class="card-stacked">
                <div class="card-content white-text">
                    <p> <a><%= format_time(@post.created_at, :short, "N/A") %> | <%= @post.user.nickname.capitalize %>: </a> <%= @post.title %>
                    <i class="material-icons right" id="button_comment_post">comment</i></p>
                </div>
                <div class="card-action white-text grey darken-3" id="comment_post" hidden>
                    <form class="new_comment" id="new_comment" action="/comments" accept-charset="UTF-8" method="post">
                        <div class="input-field col s6">
                            <%= text_field(:comment, :comment,:class => "validate white-text", :required => true) %>
                            <label for="first_name">Comment</label>
                        </div>
                        <div class="input-field col s6">
                            <button class="btn waves-effect waves-light" type="submit" name="commit">Create
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                        <div class="input-field col s6" hidden>
                            <input type="hidden" name="post_id" id="post_id" value=<%= @post.id %> >
                        </div>
                    </form>
                </div>
                <div id="all_comments">
                </div>
            </div>
        </div>
    </div>
</div>
